<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search product</title>
    <script defer src="/static/js/script.js"></script>
</head>
<body>
<div>
    <h3>Live search by product name</h3>
    <input id="liveSearchInput" type="text" name="productName" placeholder="Write the product name..."
           onkeyup="searchProducts(document.getElementById('liveSearchInput').value)"/>

    <table id="productsTable">
        <tr>
            <th>id</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Color</th>
        </tr>
    </table>

</div>
</body>
</html>
