<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <script src="/static/js/script.js"></script>
</head>
<body>

<table id="productsTable">
    <tr>
        <th>id</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Color</th>
    </tr>
    <#list products as product>
        <tr>
            <td>${product.id}</td>
            <td>${product.productName}</td>
            <td>${product.price}</td>
            <td>${product.count}</td>
            <td>${product.color}</td>
        </tr>
    </#list>
</table>
<br>
<div>
    <label>Product Name
        <input id="productName" name="productName" placeholder="Enter product name..."></label>
    <br>
    <label>Price
        <input id="price" name="price" placeholder="Enter price..."></label>
    <br>
    <label>Count
        <input id="count" name="count" placeholder="Enter count..."></label>
    <br>
    <label>Color
        <input id="color" name="color" placeholder="Enter color..."></label>
    <br>
    <button onclick="addProduct(
        document.getElementById('productName').value,
        document.getElementById('price').value,
        document.getElementById('count').value,
        document.getElementById('color').value
    )">Add
    </button>
</div>
</body>
</html>