<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search product</title>
</head>
<body>
<div>
    <form action="/products/search" method="get">
        <h3>Search by product name</h3>
        <input type="text" name="productName" placeholder="Write the product name..." required/>
        <input type="submit" value="Search"/>
    </form>

    <br>
    <#if products??>
        <table id="productsTable">
            <tr>
                <th>id</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Color</th>
            </tr>
            <#list products as product>
                <tr>
                    <td>${product.id}</td>
                    <td>${product.productName}</td>
                    <td>${product.price}</td>
                    <td>${product.count}</td>
                    <td>${product.color}</td>
                </tr>
            </#list>
        </table>
    </#if>
</div>
</body>
</html>